grafana-data
data/firbin.csv
data/lab04/camaras.csv
data/lab04/camaras/Camara_1.Abierta.csv
data/lab04/camaras/Camara_1.Cerrada.csv
data/lab04/camaras/Camara_1.csv
data/lab04/camaras/Camara_2.csv
data/lab04/camaras/Camara_3.csv
data/config.yaml
data/flow/config.yaml
data/flow/ejemplo.svg
